[Desktop Entry]
X-SnapInstanceName=App Store
Name[af]=App-winkel
Name[be]=Крама App
Name[bg]=Поддръжка на „Apppy“
Name[ca]=Botiga de App
Name[cs]=App Store
Name[da]=Appbutik
Name[de]=App Store
Name[el]=Κατάστημα Apppy
Name[en_GB]=App Store
Name[eo]=App-butiko
Name[es]=Tienda de App
Name[eu]=App biltegia
Name[fa]=فروشگاه اسنپ
Name[fi]=App-kauppa
Name[fr]=Boutique des App
Name[fur]=Archivi App
Name[gd]=Taic ri bùth App
Name[gl]=Tenda de App
Name[he]=חנות App
Name[hr]=App trgovina
Name[hu]=App tároló
Name[id]=Toko App
Name[it]=App Store
Name[ja]=App ストア
Name[kk]=App дүкені
Name[ko]=스냅 스토어
Name[lt]=App parduotuvė
Name[lv]=App veikals
Name[mjw]=App Store
Name[ml]=സ്നാപ്പ് കലവറ
Name[ms]=Kedai App
Name[nb]=App Store
Name[ne]=स्न्याप स्टोर
Name[nl]=App-winkel
Name[oc]=Botiga dels App
Name[pa]=ਸਨੈਪ ਸਟੋਰ
Name[pl]=Sklep App
Name[pt]=App Store
Name[pt_BR]=App Store
Name[ro]=Magazinul App
Name[ru]=Магазин App
Name[sk]=Obchod App Store
Name[sl]=Trgovina App
Name[sr]=Складиште снепова
Name[sr@latin]=Skladište snepova
Name[sv]=App Store
Name[tr]=App Mağazası
Name[uk]=Крамниця App
Name[vi]=Kho App
Name[zh_CN]=App 商店
Name[zh_TW]=App 商店
Name=App Store
Comment[af]=Installeer, verwyder of gradeer sagteware vir die rekenaar op
Comment[ar]=أضف، أزل أو حدّث البرمجيّات على هذا الحاسوب
Comment[as]=এই কমপিউটাৰৰ চফ্টৱেৰ যোগ কৰক, আতৰাওক অথবা আপডেইট কৰক
Comment[be]=Дадае, выдаляе або абнаўляе праграмнае забеспячэнне на вашым камп'ютары
Comment[bg]=Добавяне, премахване или обновяване на софтуер на този компютър
Comment[bn]=এই কম্পিউটারে সফটওয়্যার সংযুক্তি, মুছে ফেলা অথবা আপডেট
Comment[bs]=Dodaj, ukloni ili ažuriraj prorame na ovom račuanru
Comment[ca]=Afegeix, suprimeix o actualitza programari en aquest ordinador
Comment[ca@valencia]=Afig, suprimeix o actualitza programari en este ordinador
Comment[cs]=Přidat, odebrat nebo aktualizovat software v tomto počítači
Comment[da]=Tilføj, fjern eller opdatér software på denne computer
Comment[de]=Software auf diesem Rechner hinzufügen, entfernen oder aktualisieren
Comment[el]=Προσθέστε, αφαιρέστε ή ενημερώστε το λογισμικό αυτού του υπολογιστή
Comment[en_GB]=Add, remove or update software on this computer
Comment[eo]=Aldoni, forigi aŭ ĝisdatigi programaron sur ĉi tiu komputilo
Comment[es]=Añadir, quitar o actualizar software en este equipo
Comment[eu]=Gehitu, kendu edo eguneratu ordenagailu honetako softwarea
Comment[fa]=افزودن، برداشتن یا به‌روز رسانی نرم‌افزارهای این رایانه
Comment[fi]=Lisää, poista tai päivitä tietokoneen ohjelmistoja
Comment[fr]=Ajouter, supprimer ou mettre à jour des applications sur cet ordinateur
Comment[fur]=Zonte, gjave o inzorne software su chest computer
Comment[gd]=Cuir ris, thoir air falbh no ùraich bathar-bog air a’ choimpiutair seo
Comment[gl]=Engadir, quitar ou anovar software neste computador
Comment[he]=הוספה, הסרה ועדכון של תוכנות במחשב זה
Comment[hi]=इस कंप्यूटर पर सॉफ़्टवेयर जोड़ें, निकालें या अपडेट करें
Comment[hr]=Dodaj, ukloni ili nadopuni softver na ovom računalu
Comment[hu]=Szoftver hozzáadása, eltávolítása vagy frissítése ezen a számítógépen
Comment[id]=Tambah, hapus, atau mutakhirkan perangkat lunak pada komputer ini
Comment[it]=Aggiunge, rimuove o aggiorna software su questo computer
Comment[ja]=このコンピューターでソフトウェアの追加、削除、更新を行います
Comment[kk]=Бұл компьютерде БҚ-ны қосу, өшіру не жаңарту
Comment[km]=បន្ថែម, លុប ឬ​ធ្វើ​បច្ចុប្បន្នភាព​កម្មវិធី​លើ​កុំព្យូទ័រ​នេះ
Comment[ko]=이 컴퓨터에 프로그램을 추가, 제거, 업데이트 합니다
Comment[lt]=Pridėti, šalinti arba atnaujinti šio kompiuterio programinę įrangą
Comment[lv]=Pievienot, izņemt vai atjaunināt programmatūru uz šī datora
Comment[ml]=ഈ കമ്പ്യൂട്ടറിൽ സോഫ്റ്റ്‌വെയർ ചേർക്കുക, നീക്കംചെയ്യുക അല്ലെങ്കിൽ പുതുക്കുക
Comment[ms]=Tambah, buang atau kemas kini perisian di dalam komputer ini
Comment[nb]=Legg til eller fjern programvare på denne datamaskinen
Comment[nl]=Software op deze computer toevoegen, verwijderen of bijwerken
Comment[oc]=Apondre, suprimir o metre a jorn d'aplicacions sus aqueste ordenador
Comment[pa]=ਇਹ ਕੰਪਿਊਟਰ ਉੱਤੇ ਸਾਫਟਵੇਅਰ ਸ਼ਾਮਿਲ ਕਰੋ, ਹਟਾਉ ਜਾਂ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Dodawanie, usuwanie i aktualizowanie oprogramowania na komputerze
Comment[pt]=Adiciona, remove ou atualiza aplicações neste computador
Comment[pt_BR]=Adicione, remova ou atualize programas neste computador
Comment[ro]=Adaugă, elimină sau actualizează aplicații pe acest calculator
Comment[ru]=Установка, удаление и обновление программного обеспечения на компьютере
Comment[sk]=Pridáva, odstraňuje alebo aktualizuje softvér vo vašom počítači
Comment[sl]=Dodajanje, odstranjevanje in posodabljanje programske opreme.
Comment[sr]=Додајте, уклоните или ажурирајте програме на овом рачунару
Comment[sr@latin]=Dodajte, uklonite ili ažurirajte programe na ovom računaru
Comment[sv]=Lägg till, ta bort eller uppdatera programvara på denna dator
Comment[te]=ఈ కంప్యూటరుపై సాఫ్ట్‌వేరును జతచేయండి, తీసివేయండి లేదా నవీకరించండి.
Comment[th]=เพิ่ม ลบ หรือปรับรุ่นซอฟต์แวร์ในคอมพิวเตอร์นี้
Comment[tr]=Bu bilgisayara yazılım ekle, kaldır ya da güncelle
Comment[uk]=Встановити, вилучити або оновити програмні засоби на комп'ютері
Comment[vi]=Cài thêm, xóa hoặc cập nhật phần mềm trên máy tính này
Comment[zh_CN]=添加、移除或更新计算机软件
Comment[zh_HK]=在這臺電腦上加入、移除，或更新軟件
Comment[zh_TW]=在這臺電腦上加入、移除、或更新軟體
Comment=Add, remove or update software on this computer
Icon=softwarecenter
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/snap-store_snap-store.desktop /snap/bin/snap-store %U
Terminal=false
Type=Application
Categories=GNOME;GTK;System;PackageManager;
Keywords=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Snap;App Store;Windows;windows
NotShowIn=ubuntu
StartupNotify=true
MimeType=x-scheme-handler/appstream;x-scheme-handler/snap;
StartupWMClass=snap-store

